body
{
    background-image: linear-gradient(to bottom right,#ebe717, #7ec6bc);
}
div.a
{
    color:#f7f8f9;
    background-color:#ef0000;
    border-style:solid;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius:20px 20px 20px 20px;
}
div.b
{
    border-radius:20px 20px 20px 20px;
    width: 65%; 
    text-align: center;
    margin: auto;
    border:10px solid #aaaaaa33;
    background:#063100aa;
}
div.c
{
    border-radius:20px 20px 20px 20px;
    text-align: center;
    width: 15%;
    margin: auto;
    border:1px solid #ff8422;
    background-image: linear-gradient(to bottom right, #00FFEF , pink);
}
div.search
{
    margin: auto; 
    text-align: center;
    color:#999999;
    border-radius:20px 20px 20px 20px
}
h1
{
    color:#ffff00
}
p
{
    color: #f8f8f8;
}
a
{
    color: #45e026;
}